<!-- recipes/templates/recipes/view_recipe.html -->

{% extends 'recipes/base.html' %}
{% load cropping %}
{% load thumbnail %}

{% block content %}
<div class="container">
  <div class="card mb-3">

    <div class="row g-0">
      <div class="col-md-4">
        <div class="card-body">
          <img
            src="{% cropped_thumbnail recipe "cropping" %}" width="100%" class="img-fluid rounded-start">
          <br>
          <h7 class="card-title">Recipe by: {{ recipe.recipe_by }}</h7>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ recipe.title }}</h3>
          <hr>
          <h5 class="card-subtitle">Ingredients:</h5>
          <p ng-repeat="recipe.ingredient in recipe.ingredients">{{ recipe.ingredients | linebreaks}}</p>
          <hr>
          <h5 class="card-subtitle">How to Make it:</h5>
          <p class="card-text">{{ recipe.instructions | linebreaks }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
